
html {
    font-size: 22px;
    border: 10px solid brown;
}

body {
    
}

h1, h2{
    color: limegreen;
}

p {
    color: purple;
}

p span {
    text-transform: uppercase;
    background-color: pink;
}

.copy {
    color: orchid;
}

.gray {
    color:gray;
}

#second {
    font-style: italic;
}






